################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/BotX.Api.Core/obj
/src/BotX.Api.Core/BotX.Api.csproj.user
